@import url("reset.css");

/**********************************************
GLOBAL VARIABLES
**********************************************/


/**********************************************
HTML SELECTORS
**********************************************/

html {
    box-sizing: border-box;
}

  *, *:before, *:after {
    box-sizing: inherit;
}

/**********************************************
ID SELECTORS 
**********************************************/

#container{
  margin: auto;
  width: 480px;
  height: 480px;
  display: grid;
}

/**********************************************
CLASS SELECTORS
**********************************************/

.squares{
  border: 1px solid black;
}

/**********************************************
MEDIA 
**********************************************/

