@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

/**********************************************
GLOBAL VARIABLES
**********************************************/


/**********************************************
HTML SELECTORS
**********************************************/

html {
    box-sizing: border-box;
}

  *, *:before, *:after {
    box-sizing: inherit;
}

body{
  font-family: 'Otomanopee One', Helvetica, sans-serif;
  background-color: rgb(217, 218, 207);
  margin: auto;
  margin-top: 10%;
}

h1{
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 6%;
  text-align: center;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer{
  margin-top: 30px;
  text-align: center;
}

footer>p{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer>p>a{
  padding-left: 10px;
}

footer>p>a:hover{
  transform: scale(1.1);
}

button{
  font-family: inherit;
  box-shadow: 0 0 2px 4px black;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  width: 140px;
  padding: 5px 0 5px 0;
  margin-bottom: 20px;
}

/**********************************************
ID SELECTORS 
**********************************************/

#container{
  background-color: white;
  box-shadow: 0 0 3px 4px black;
  width: 480px;
  height: 480px;
  display: grid;
}

#buttons{
  width: 480px;
  display: flex;
  justify-content: space-between;
}

/**********************************************
CLASS SELECTORS
**********************************************/

.squares{
  border: 1px solid black;
}

/**********************************************
MEDIA 
**********************************************/

