@import url("reset.css");

/**********************************************
GLOBAL VARIABLES
**********************************************/


/**********************************************
HTML SELECTORS
**********************************************/

html {
    box-sizing: border-box;
}

  *, *:before, *:after {
    box-sizing: inherit;
}

/**********************************************
ID SELECTORS 
**********************************************/

#container{
  display: grid;
  grid-template: repeat(16, 30px) / repeat(16, 30px);
}

/**********************************************
CLASS SELECTORS
**********************************************/

.squares{
  border: 1px solid black;
}

/**********************************************
MEDIA 
**********************************************/

